html,
body {
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: "Saira";
  color: #fff;
}

#__next {
  display: contents;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
