.Players {
  position: relative;
  gap: 11px;
  background: rgba(16, 12, 74, 0.2);
  border-radius: 12px;
  height: 100%;

  // Make inset shadow on top
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 12px;
    box-shadow: inset 3px 4px 63px rgba(255, 255, 255, 0.25);

    z-index: 1;
    pointer-events: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  gap: 80px;

  background: radial-gradient(
      101.35% 101.35% at 50% 22.11%,
      rgba(34, 21, 49, 0.5) 0%,
      rgba(22, 22, 48, 0.5) 71.87%
    ),
    rgba(19, 20, 68, 0.5);
  border-radius: 12px 12px 0px 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.settings {
  padding-left: 22px;
  padding-right: 22px;
}

.content {
  flex: 1;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;

  overflow-y: auto;
}

.player {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .name {
    flex: 1;
    text-align: left;
  }

  .menu {
    width: 24px;
    height: 24px;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      background-color: rgba(#fff, 0.1);
    }
  }

  &:hover,
  &._active {
    .menu {
      opacity: 1;
    }
  }

  &._active {
    padding: 8px;

    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    background: linear-gradient(
      90deg,
      #fffb02 -22.86%,
      #ffa900 52.56%,
      #fe6b00 126.43%
    );
    box-shadow: 0px 4px 40px #ffb446;
    border-radius: 2px;
    z-index: 1;

    .avatar {
      width: 36px;
      height: 36px;
    }

    .name {
      background: radial-gradient(
          101.35% 101.35% at 50% 22.11%,
          #4e2082 0%,
          #0c0c4c 71.87%
        ),
        #131444;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
